* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--sr-font-family);
  background: var(--sr-color-bg);
  color: var(--sr-color-text);
}
